## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_Copy1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,RU,59.7035,30.7861,64.87,92,96,3.69,overcast clouds
1,1,Westport,US,41.1415,-73.3579,73.74,64,0,8.05,clear sky
2,2,Hay River,CA,60.8156,-115.7999,60.78,59,20,14.97,few clouds
3,3,Humaita,BR,-7.5061,-63.0208,76.95,67,8,2.80,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,71.55,91,54,7.00,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<=max_temp)& (city_data_df['Max Temp']>= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                684
City                   684
Country                684
Lat                    684
Lng                    684
Max Temp               684
Humidity               684
Cloudiness             684
Wind Speed             684
Current Description    684
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Humaita,BR,76.95,clear sky,-7.5061,-63.0208,
5,Georgetown,MY,82.33,scattered clouds,5.4112,100.3354,
6,Hilo,US,82.27,overcast clouds,19.7297,-155.0900,
10,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
11,Faanui,PF,79.34,scattered clouds,-16.4833,-151.7500,
19,Ganzhou,CN,78.85,overcast clouds,28.8184,115.4327,
21,Kavieng,PG,83.44,light rain,-2.5744,150.7967,
22,Hithadhoo,MV,81.79,scattered clouds,-0.6000,73.0833,
23,Rikitea,PF,75.13,clear sky,-23.1203,-134.9692,
26,San Patricio,US,85.89,clear sky,28.0170,-97.5169,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params['location']= f'{lat},{lng}'
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Humaita,BR,76.95,clear sky,-7.5061,-63.0208,CorrÃªa Hotel
5,Georgetown,MY,82.33,scattered clouds,5.4112,100.3354,Cititel Penang
6,Hilo,US,82.27,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Faanui,PF,79.34,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
19,Ganzhou,CN,78.85,overcast clouds,28.8184,115.4327,Zhanqian Grand Hotel
21,Kavieng,PG,83.44,light rain,-2.5744,150.7967,Nusa Island Retreat
22,Hithadhoo,MV,81.79,scattered clouds,-0.6000,73.0833,Scoop Guest House
23,Rikitea,PF,75.13,clear sky,-23.1203,-134.9692,People ThankYou
26,San Patricio,US,85.89,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df.count()

City                   684
Country                684
Max Temp               684
Current Description    684
Lat                    684
Lng                    684
Hotel Name             684
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dl><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[['Lat', 'Lng']]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))